---
layout: default
style: jobs
---



{% assign jobs = site.jobs | sort:"order" | where:"visible",true %}
{% if jobs != "" %}
<section class="gold">

  <h2><a href="#join" name="join">Who We Are (Our Culture)</a></h2>

  <div class="details">

    <p>
      Datawheel is a Cambridge based technology company focused on creating tools to integrate, distribute, and visualize big data. We are known for our national data integration projects, including <a href="https://datausa.io" target="_blank">Data USA</a> and <a href="https://datachile.io" target="_blank">DataChile</a>, and are a tight-knit international family composed of designers, analysts, and engineers. We are currently growing and looking for highly motivated people to join our team. If you fit the description of any of these positions, please reach out to us.
    </p>

    <div class="columns">

      <div class="column">
        <h4>Personal Qualities</h4>
        <ul>
          <li>Self-starter, able to work independently</li>
          <li>Familiar with working on a small fast-paced team</li>
          <li>Willingness to learn and develop new technologies</li>
          <li>Comfortable with direct honest feedback</li>
        </ul>
      </div>

      <div class="column">
        <h4>Benefits</h4>
        <ul>
          <li>Healthcare, vision, and dental</li>
          <li>401k matching</li>
          <li>Tuition reimbursement</li>
          <li>International Travel</li>
        </ul>
      </div>

    </div>

  </div>

  <img class="team-photo" src="/img/team/team-static.jpg" />

  <script>
    preloadImages.push("/img/team/team-hover.jpg");
  </script>

</section>

{% for job in jobs %}
<section class="light">
  <h3>{{ job.title }}</h3>
  <div class="details">
    {{ job.content }}
  </div>
  <a class="button" href="/apply" data-ga-cat="team" data-ga-label="apply-now">Apply Now</a>
</section>
{% endfor %}

<script>

  // $(".details-btn").click(function(){
  //   $(this.parentNode).toggleClass("active");
  // });

</script>
{% endif %}
