---
layout: default
style: random
---

<section id="random" class="dark">
  <ol>
    {% for member in site.team %}
    {% if member.slug != "lucy" and member.slug != "cesar" %}
    <li class="name">&nbsp;</li>
    {% endif %}
    {% endfor %}
  </ol>
  <h2 id="clock"></h2>
  <button id="button">Start</button>
</section>

<script>

  var team = [];
  {% for member in site.team %}
  {% if member.slug != "lucy" and member.slug != "cesar" %}
  team.push("{{ member.name }}");
  {% endif %}
  {% endfor %}

  var i = 0,
      items = document.getElementsByClassName("name"),
      button = document.getElementById("button"),
      minutes = 10,
      warning = 1,
      timer,
      clock = document.getElementById("clock");

  clock.innerHTML = minutes + ":00";

  button.addEventListener("click", function() {

    button.innerHTML = "Next";

    var person, ms = minutes * 60 * 1000;
    clearInterval(timer);
    clock.innerHTML = minutes + ":00";
    clock.className = "";

    timer = setInterval(function() {
      var s = (ms / 1000) % 60;
      clock.innerHTML = Math.floor(ms / 60000) + ":" + (s < 10 ? "0" + s : s);
      clock.className = ms < 1 * 60 * 1000 ? "danger" : "";
      if (!ms) clearInterval(timer);
      else ms -= 1000;
    }, 1000);

    var int = Math.floor(Math.random() * team.length);
    items[i].innerHTML = team.splice(int, 1);
    i++;
    if (!team.length) button.style.visibility = "hidden";

  }, false);

</script>
