<div id="form-back" class="hidden"><img src="/img/ui/angle-left-white.svg" /> Back</div>

<form id="ss-form" target="_self" onsubmit="">

  <div class="ss-form-entry">
    <div class="ss-q-title">"Hi, what can we help you with?"</div>
    <div class="ss-q-label">"I&#39;d like to
      <select dir="rtl" name="entry.1841248979" id="entry_1841248979" aria-label="I&#39;d like to  " aria-required="true" required="">
        <option value="" {% if include.mode %}{% else %}selected{% endif %}></option>
        <option value="hire Datawheel" {% if include.mode == "hire Datawheel" %}selected{% endif %}>hire Datawheel</option>
        <option value="collaborate with Datawheel" {% if include.mode == "collaborate with Datawheel" %}selected{% endif %}>collaborate with Datawheel</option>
        <option value="receive a quote" {% if include.mode == "receive a quote" %}selected{% endif %}>receive a quote</option>
        <option value="apply to Datawheel" {% if include.mode == "apply to Datawheel" %}selected{% endif %}>apply to Datawheel</option>
      </select>
    "</div>
  </div>

  <div class="ss-form-entry">
    <div class="ss-q-title">"Great. Before we get started, what&#39;s your name?"</div>
    <div class="ss-q-label">"
      <input type="text" name="entry.861820534" value="" class="ss-q-short" id="entry_861820534" aria-label="Great. Before we get started, what&#39;s your name?  " aria-required="true" required="" title="">
    "</div>
  </div>

  <div class="ss-form-entry" id="org">
    <div class="ss-q-title">"Nice to meet you, <span class="contact-name"></span>. What kind of organization do you work with?"</div>
    <div class="ss-q-label">"
      <select dir="rtl" name="entry.530935635" id="entry_530935635" aria-label="Nice to meet you. What kind of organization do you work with?  " aria-required="true" required="">
        <option value="" selected></option>
        <option value="An NGO/non-profit">An NGO/non-profit</option>
        <option value="A government organization">A government organization</option>
        <option value="A private business">A private business</option>
        <option value="Me, Myself &amp; I">Me, Myself &amp; I</option>
      </select>
    "</div>
  </div>

  <div class="ss-form-entry">
    <div class="ss-q-title">"Can you provide some details?"</div>
    <div class="ss-q-label full">
      <textarea name="entry.5162270" rows="8" cols="0" id="entry_5162270" aria-label="What can you tell us about yourself?  " aria-required="true" required=""></textarea>
    </div>
  </div>

  <div class="ss-form-entry">
    <div class="ss-q-title">"Sounds great! How should we contact you?"</div>
    <div class="ss-q-label">"
      <input type="text" name="entry.496078352" value="" id="entry_496078352" aria-label="Sounds great! How should we contact you?  Please enter a valid e-mail address." aria-required="true" required="" title="Please enter a valid e-mail address.">
    "</div>
  </div>

  <input class="hidden" type="submit" name="submit" value="Submit" id="ss-submit" data-ga-cat="form" data-ga-label="submit-{% if include.mode %}hello{% else %}contact{% endif %}">
  <input type="hidden" name="draftResponse" value="[,,&quot;3878112766286324366&quot;]">
  <input type="hidden" name="pageHistory" value="0">
  <input type="hidden" name="fbzx" value="3878112766286324366">

</form>

<div id="form-mode" class="{% if include.mode == "receive a quote" %}{% else %}hidden{% endif %}" data-ga-cat="form" data-ga-label="request-a-quote">
  Get a Quote Today
</div>

<div id="form-success" class="hidden">
  Thanks for stopping by, we'll be in touch!
</div>

<script>

  var mode = "{{ include.mode }}",
      small = "{{ include.small }}".length > 0,
      start = 0;

  if (mode.length) start++;

  var currentEntry = $(".ss-form-entry:first-of-type")[0];

  $("#form-mode").on("click", function() {
    $(this).addClass("hidden");
    $(this.parentNode).find("h2, p, article").addClass("hidden");
    $($(".ss-form-entry")[1]).removeClass("hidden");
  });

  $(document).ready(function() {
    $(window).keydown(function(event){
      if(event.keyCode === 13) {
        event.preventDefault();
        return false;
      }
    });
  });

  $("#entry_861820534").keyup(function(){
    $(".contact-name").html($("#entry_861820534").val());
    var hidden = $("#org").hasClass("hidden");
    if (hidden) $("#org").removeClass("hidden");
    $("#org").css("height", "auto").data("height", $("#org").height()).css("height", $("#org").data("height"));
    if (hidden) $("#org").addClass("hidden");
  });

  $(".ss-form-entry").each(function(i) {
    $(this).data("height", $(this).height()).css("height", $(this).data("height"));
    if (mode === "receive a quote" || i > start) $(this).addClass("hidden");
  });

  function next(elem) {
    if (small) $(elem.parentNode.parentNode).addClass("hidden");
    var entry = $(elem.parentNode.parentNode).next().removeClass("hidden");
    var form = entry.find("input, select, textarea");
    if (entry.prop("tagName").toLowerCase() === "input") {
      entry.submit();
    }
    else if (form) {

      currentEntry = entry;

      // Open Select Box
      if (form.prop("tagName").toLowerCase() === "select") {
        setTimeout(function(){
          if (document.createEvent) { // all browsers
            var e = document.createEvent("MouseEvents");
            e.initMouseEvent("mousedown", true, true, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
            form[0].dispatchEvent(e);
          }
          else if (form[0].fireEvent) form[0].fireEvent("onmousedown");
          else form.focus();
        }, 250);
      }
      else {
        form.focus();
      }

      if (entry[0] === $(".ss-form-entry:last-of-type")[0]) $("#ss-submit").removeClass("hidden");
      else if (small) $("#form-back").removeClass("hidden");

    }
  }

  function prev() {
    currentEntry.addClass("hidden");
    currentEntry = currentEntry.prev().removeClass("hidden");
    if (currentEntry[0] === $(".ss-form-entry")[start]) $("#form-back").addClass("hidden");
  }

  $("select").on("change", function() {
    next(this);
  });

  $("input, textarea").keydown(function(event) {
    if(event.keyCode === 13) {
      next(this);
    }
  });

  $("form").on("submit", function (e) {

    e.preventDefault();

    $.ajax({
      type: "post",
      url: "https://docs.google.com/forms/d/1XfKxuSWqepYTGNDg1eJz2OL_fXs1i-KMcWTaal4vcT8/formResponse",
      data: $("form").serialize()
    });

    $("form").addClass("hidden");
    setTimeout(function(){
      $(".dialogue-form h3").addClass("hidden");
      $("#form-back").addClass("hidden");
      $("form").css("display", "none");
      $("#form-success").removeClass("hidden");
    }, 300);

  });

  $("#form-back").on("click", function() {
    if (!$(this).hasClass("hidden")) prev();
  });

</script>
