<ul>
  <a class="nav-btn" href="/test/about"><li>About</li></a>
  <div class="nav-btn"><li class="sub-title">Portfolio</li>
    <ul class="sub-menu">
      {% assign projects = site.portfolio | sort: "order"  %}
      {% for project in projects %}
      <a href="{{ project.url }}"><li>{% if project.shortname %}{{ project.shortname }}{% else %}{{ project.title }}{% endif %}</li></a>
      {% endfor %}
    </ul>
  </div>
  <a class="nav-btn" href="/test/team"><li>Team</li></a>
  <a class="nav-btn" href="/test/contact"><li>Contact</li></a>
  <a class="nav-btn" href="/test/blog"><li>Blog</li></a>
</ul>
