<ul>
  <a class="nav-btn" href="/about/" data-ga-cat="nav" data-ga-label="about"><li>About</li></a>
  <div class="nav-btn"><li class="sub-title">Portfolio</li>
    <ul class="sub-menu">
      {% assign projects = site.portfolio | sort: "order"  %}
      {% for project in projects %}
      <a href="{{ project.url }}" data-ga-cat="nav" data-ga-label="{{ project.footer }}"><li>{% if project.shortname %}{{ project.shortname }}{% else %}{{ project.title }}{% endif %}</li></a>
      {% endfor %}
    </ul>
  </div>
  <a class="nav-btn" href="/team/" data-ga-cat="nav" data-ga-label="team"><li>Team</li></a>
  <a class="nav-btn" href="/contact/" data-ga-cat="nav" data-ga-label="contact"><li>Contact</li></a>
  <a class="nav-btn" href="https://blog.datawheel.us/" data-ga-cat="nav" data-ga-label="blog"><li>Blog</li></a>
</ul>
