@font-face {
    font-family: 'VarelaRound-Regular';
    src: url('fonts/VarelaRound-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

// @font-face {
//     font-family: 'novecento_sans_widebook';
//     src: url('fonts/Novecentosanswide-Book-webfont.eot');
//     src: url('fonts/Novecentosanswide-Book-webfont.eot?#iefix') format('embedded-opentype'),
//          url('fonts/Novecentosanswide-Book-webfont.woff2') format('woff2'),
//          url('fonts/Novecentosanswide-Book-webfont.woff') format('woff'),
//          url('fonts/Novecentosanswide-Book-webfont.ttf') format('truetype'),
//          url('fonts/Novecentosanswide-Book-webfont.svg#novecento_sans_widebook') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }