body {
  font-family: $varela;
}

.mbl {
	@media screen and (min-width: 415px) {
		display: none;
	}
}

.dsk {
	@media screen and (max-width: 768px) {
		display: none;
	}
}

.tbl {
	@media screen and (min-width: 768px) {
		display: none;
	}
}