@import url(https://fonts.googleapis.com/css?family=Varela+Round);
$varela: 400 14px 'VarelaRound-Regular', sans-serif;

$max-width: 940px;
$nav-height-dsk: 160px;
$nav-height-mbl: 70px;

@import "helpers/reset";
@import "helpers/colors";
@import "helpers/vendor";
@import "helpers/media";

body {
  font: $varela;
  padding-top: $nav-height-dsk;

  @include tablet {
    padding-top: $nav-height-mbl;
  }

  &.frozen {
    overflow: hidden;
  }

  @import "components/parallax";

  @import "components/nav";
  @import "components/footer";
  @import "components/section";

  @import "components/home-old";
  @import "components/home";
  @import "components/portfolio";
  @import "components/team";
  @import "components/jobs";

}
