$gold: #CB9F2C;

$bg-gold: #FFCC66;
$bg-white: #FFFFFF;
$bg-gray: #F2F2F2;
$medium-gray: #999999;

$txt-gold: #FFCD33;
$txt-gray: #666666;

$txt-gray-l: #6C6558;

$portfolio-colors: (
  datausa: #33648C,
  oec: #5BB9D0,
  d3plus: #0D8140,
  dataviva: #DB5E5F,
  dataafrica: #3B4835,
  datachile: #4b71b5,
  verizon: #D52B1E,
  codelife: #0F807E,
  cny: #0099FF
);
