&.about {

  section#tracks {
    overflow: hidden;
    position: relative;
    text-align: center;

    & > img {
      margin: 40px auto -48px;
    }

    #track-carts {
      height: 1361px;
      left: 0;
      margin: 145px auto -48px;
      position: absolute;
      right: 0;
      text-align: left;
      top: 0;
      width: 616px;

      img {
        @include transition(left 0.125s, top 0.125s);
        position: absolute;
        width: 14%;

        @include keyframes(cart-rumble) {
          0% { top: 0; left: 0; }
          50% { top: -1px; left: 1px; }
          100% { top: 0; left: 0; }
        }

        $track-length: 260%;

        &:nth-child(1) {
          margin-left: 5%;
          margin-top: 78.5%;
          @include tablet { margin-top: 66.25%; }

          @include keyframes(cart-1) {
            0% { @include transform(translateX(0)); }
            50% { @include transform(translateX($track-length)); }
            100% { @include transform(translateX(0)); }
          }

          &.visible {
            @include animation("cart-1 30s infinite");
          }

        }

        &:nth-child(2) {
          margin-left: 76%;
          margin-top: 111.5%;
          @include tablet { margin-top: 100.5%; }

          @include keyframes(cart-2) {
            0% { @include transform(translateY(0)rotate(90deg)); }
            50% { @include transform(translateY(-$track-length)rotate(90deg)); }
            100% { @include transform(translateY(0)rotate(90deg)); }
          }

          &.visible {
            @include animation("cart-2 30s infinite");
          }

        }

        &:nth-child(3) {
          margin-left: 39.5%;
          margin-top: 127%;
          @include tablet { margin-top: 115%; }

          @include keyframes(cart-3) {
            0% { @include transform(translateY(0)rotate(-90deg)); }
            50% { @include transform(translateY(350%)rotate(-90deg)); }
            100% { @include transform(translateY(0)rotate(-90deg)); }
          }

          &.visible {
            @include animation("cart-3 40s infinite");
          }

        }

      }

    }

    img, #track-carts {
      width: 616px;

      @include tablet {
        width: 320px;
      }
    }

  }

  section.step {
    @include flex();
    @include align-items(center);
    overflow: hidden;

    .desc {
      h3 {
        display: inline-block;
        font-size: 40px;
        line-height: 80px;
        width: 60px;
        @include tablet {
          font-size: 24px;
          line-height: 48px;
          // width: 36px;
        }
      }
      p {
        font-size: 20px;
        line-height: 31px;
        padding-top: 20px;
        @include tablet {
          padding-top: 10px;
        }
        @include mobile {
          font-size: 14px;
          line-height: 23px;
        }
      }
      @include tablet {
        margin: -20px 0 0 !important;
      }
    }

    @include tablet {
      @include flex-direction(column !important);
    }

  }

  section#usb {
    position: relative;

    div.usb {
      left: 0;
      margin: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      img {
        margin: 0 auto;
        width: 616px;

        @include tablet {
          width: 320px;
        }
      }
    }

    .desc {
      margin-left: 50px;
      max-width: 423px;
      width: 80%;
      h3 {
        color: $bg-gray;
        border-bottom: 2px solid $txt-gray;
      }
      p {
        max-width: 321px;
        @include tablet {
          max-width: none;
        }
      }
    }

    .bubble {
      @include rounded(50%);
      background-color: $bg-gray;
      height: 423px;
      margin-right: 50px;
      overflow: visible;
      width: 423px;
      @include tablet {
        height: 320px;
        margin: 10px 0 0;
        width: 320px;
      }
      .cart {
        margin: -3% 0 3%;
        width: 100%;

        @include keyframes(cart-intro) {
          0% { @include transform(translateX(-150%)); }
          100% { @include transform(translateX(0)); }
        }

        &.visible {
          @include animation("cart-intro 3s 1");
        }
      }
    }

  }

  section#glass {
    @include flex-direction(row-reverse);

    .desc {
      margin-right: 50px;
      max-width: 392px;
      text-align: right;
      width: 80%;
      @include tablet {
        margin: -60px 0 0 !important;
      }
      h3 {
        color: $txt-gray;
        border-bottom: 2px solid $gold;
      }
      p {
        color: $gold;
      }
    }

    .glass {
      height: 370px;
      margin: 50px 0 50px 50px;
      overflow: hidden;
      padding-right: 22px;
      position: relative;
      width: 370px;
      @include tablet {
        height: 280px;
        margin: 10px 0 0;
        padding: 0;
        width: 280px;
      }

      .glass-line {
        position: absolute;
        right: 22px;
        top: 0;
        width: 31%;
        z-index: 1;

        @include tablet {
          right: 0px;
        }
      }

      .glass-mask {
        position: absolute;
        right: 17px;
        top: -5px;
        width: 62%;
        z-index: 2;

        @include tablet {
          right: -5px;
        }

        @include keyframes(glass-mask) {
          0% { @include transform(rotate(0deg)); }
          100% { @include transform(rotate(150deg)); }
        }

        &.visible {
          @include animation("glass-mask 3s 1 forwards");
        }
      }

      .bg {
        position: relative;
        width: 100%;
        z-index: 3;
      }
      .binary {
        @include box();
        @include rounded(50%);
        background-color: $bg-gray;
        height: 42%;
        overflow: hidden;
        position: absolute;
        right: 58px;
        top: 34px;
        width: 39%;
        z-index: 4;

        @include tablet {
          height: 42%;
          right: 26px;
          top: 26px;
          width: 42%;
        }

        .line {
          background-image: url("/img/about/binary.png");
          background-size: 100% 100%;
          height: 16px;
          margin: 4% auto 6%;
          width: 370px;
          z-index: 5;

          @include keyframes(binary) {
            0% { background-position: 0 0; }
            100% { background-position: -370px 0; }
          }

          &:nth-child(2) { @include transform(translateX(-100px)); }
          &:nth-child(3) { @include transform(translateX(-200px)); }
          &:nth-child(4) { @include transform(translateX(-20px)); }
          &:nth-child(5) { @include transform(translateX(-150px)); }
          &:nth-child(6) { @include transform(translateX(-70px)); }

          &.visible {
            @include animation("binary 10s linear infinite");
          }

        }
      }
    }

  }

  section#gems {

    .desc {
      margin-left: 50px;
      max-width: 423px;
      width: 80%;
      h3 {
        color: $bg-gray;
        border-bottom: 2px solid $txt-gray;
      }
      p {
        max-width: 321px;
        @include tablet {
          max-width: none;
        }
      }
    }

    .bubble {
      @include rounded(222px);
      background-color: $bg-gray;
      height: 423px;
      margin-right: 50px;
      overflow: visible;
      position: relative;
      width: 423px;
      @include tablet {
        height: 320px;
        margin: 10px 0 0;
        width: 320px;
      }

      .diamonds {
        width: 100%;

        @include keyframes(diamonds) {
          0% { @include transform(scale(0.4)rotate(-360deg)); }
          100% { @include transform(scale(1)rotate(0deg)); }
        }

        &.visible {
          @include animation("diamonds 2s 1 forwards");
        }

      }

      .sparkles {
        left: -6%;
        position: absolute;
        top: 0;
        opacity: 0;
        width: 112%;

        &:nth-child(2) {

          @include keyframes(sparkle1) {
            0% { opacity: 1; }
            24% { opacity: 1; }
            25% { opacity: 0; }
          }

          &.visible {
            @include animation("sparkle1 2s 1.5s infinite");
          }

        }

        &:nth-child(3) {

          @include keyframes(sparkle2) {
            24% { opacity: 0; }
            25% { opacity: 1; }
            49% { opacity: 1; }
            50% { opacity: 0; }
          }

          &.visible {
            @include animation("sparkle2 2s 1.5s infinite");
          }

        }

      }
    }

  }

  section#jewelry {
    @include flex-direction(column);
    padding: 60px 0;

    .desc {
      text-align: center;
      width: 80%;
      h3 {
        color: $txt-gray;
        display: inline-block;
        border-right: 2px solid $gold;
        height: 60px;
        line-height: 40px;
        margin-top: 5px;
        vertical-align: top;
      }
      p {
        color: $gold;
        display: inline-block;
        max-width: 442px;
        padding-left: 30px;
        padding-top: 0;
        width: 100%;
      }
      @include tablet {
        max-width: 423px;
        text-align: right;
        width: 80%;
        h3 {
          border-right: 0;
          border-bottom: 2px solid $gold;
          height: auto;
          line-height: 48px;
        }
        p {
          display: block;
          padding: 10px 0 0;
        }
      }
    }

    .bubbles {
      @include flex();
      @include justify(space-between);
      @include align-items(flex-end);
      max-width: 1056px;
      position: relative;
      width: 80%;

      & > img {
        @include transform(scale(0));
        max-width: 30%;
        width: 30%;
      }

      img:nth-child(1) {
        @include transition(transform 1s);
        &.visible {
          @include transform(scale(1));
        }
      }

      img:nth-child(2) {
        @include transition(transform 1s 0.5s);
        margin: 0 auto 40px;
        &.visible {
          @include transform(scale(1));
        }

        @include tablet {
          display: none;
        }
      }

      img:nth-child(3) {
        @include transition(transform 1s 0.25s);
        &.visible {
          @include transform(scale(1));
        }
      }

      @include tablet {
        .center {
          display: none;
        }
      }

    }

    .center {
      height: 33%;
      left: 50%;
      position: absolute;
      top: 0;
      width: 33%;

      .mask {
        @include rounded(50%);
        left: -25%;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        top: 50%;
        width: 50%;
        z-index: 4;

        .cart {
          opacity: 0;
          width: 100%;
        }

        .bedazzles {
          left: -50%;
          position: absolute;
          top: -50%;
          width: 200%;
          z-index: 5;
        }

        @include keyframes(bedazzles-mask) {
          0% {
            opacity: 1;
          }
          100% {
            left: -50%;
            opacity: 1;
            top: -12%;
            width: 100%;
          }
        }

        @include keyframes(bedazzles-img) {
          100% {
            left: 0;
            top: 0%;
            width: 100%;
          }
        }

        &.visible {
          @include animation("bedazzles-mask 0.5s 1s 1 forwards");
          .bedazzles {
            @include animation("bedazzles-img 0.5s 1s 1 forwards");
          }
        }

      }

    }

    .popout {
      display: none;
      position: relative;
      width: 260px;

      @include tablet {
        display: block;
      }

      & > img {
        @include transform(scale(0));
        @include transition(transform 1s 0.5s);
        margin: 0 auto;
        width: 100%;

        &.visible {
          @include transform(scale(1));
        }
      }

      .center {
        height: 100%;
        width: 100%;

        .mask {
          top: 20%;

          @include keyframes(bedazzles-mask-tablet) {
            0% {
              opacity: 1;
            }
            100% {
              left: -50%;
              opacity: 1;
              top: -3%;
              width: 100%;
            }
          }

          @include keyframes(bedazzles-img-tablet) {
            100% {
              left: 0;
              top: 0%;
              width: 100%;
            }
          }

          &.visible {
            @include animation("bedazzles-mask-tablet 0.5s 1s 1 forwards");
            .bedazzles {
              @include animation("bedazzles-img-tablet 0.5s 1s 1 forwards");
            }
          }

        }
      }

    }

  }

  section#tag {

    h3 {
      color: $txt-gold;
      font-size: 20px;
      line-height: 30px;
      margin: 20px auto;
      text-align: center;
    }

  }

}
