&.about {

  section#tracks {
    overflow: hidden;
    text-align: center;

    img {
      margin: 40px auto -48px;
      max-width: 616px;
      width: 86%;
    }
  }

  section.step {
    @include flex();
    @include align-items(center);

    .desc {
      h3 {
        display: inline-block;
        font-size: 40px;
        line-height: 80px;
        width: 60px;
        @include tablet {
          font-size: 24px;
          line-height: 48px;
          margin-top: -20px;
          width: 36px;
        }
      }
      p {
        font-size: 20px;
        line-height: 31px;
        padding-top: 20px;
        @include tablet {
          font-size: 14px;
          line-height: 23px;
          padding-top: 10px;
        }
      }
      @include tablet {
        margin: 0 !important;
      }
    }

    @include tablet {
      @include flex-direction(column !important);
    }

  }

  section#usb {
    position: relative;

    div.usb {
      left: 0;
      margin: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      img {
        margin: 0 auto;
        max-width: 616px;
        width: 86%;
      }
    }

    .desc {
      margin-left: 50px;
      max-width: 423px;
      width: 80%;
      h3 {
        color: $bg-gray;
        border-bottom: 2px solid $txt-gray;
      }
      p {
        max-width: 321px;
      }
    }

    img.cart {
      margin-right: 50px;
      max-width: 423px;
      width: 80%;
      @include tablet {
        margin: 10px 0 0;
      }
    }

  }

  section#glass {
    @include flex-direction(row-reverse);

    .desc {
      margin-right: 50px;
      max-width: 392px;
      text-align: right;
      width: 80%;
      h3 {
        color: $txt-gray;
        border-bottom: 2px solid $gold;
      }
      p {
        color: $gold;
      }
    }

    img {
      margin: 50px 0 50px 50px;
      padding-right: 22px;
      max-width: 370px;
      width: 80%;
      @include tablet {
        margin: 10px 0 0;
        padding: 0;
      }
    }

  }

  section#gems {

    .desc {
      margin-left: 50px;
      max-width: 452px;
      width: 80%;
      h3 {
        color: $bg-gray;
        border-bottom: 2px solid $txt-gray;
      }
      p {
        max-width: 442px;
        width: 100%;
      }
    }

    img {
      margin-right: 50px;
      max-width: 452px;
      width: 80%;
      @include tablet {
        margin: 10px 0 0;
      }
    }

  }

  section#jewelry {
    @include flex-direction(column);
    padding: 60px 0;

    .desc {
      text-align: center;
      width: 80%;
      h3 {
        color: $txt-gray;
        display: inline-block;
        border-right: 2px solid $gold;
        height: 60px;
        line-height: 40px;
        margin-top: 5px;
        vertical-align: top;
      }
      p {
        color: $gold;
        display: inline-block;
        max-width: 442px;
        padding-left: 30px;
        padding-top: 0;
        width: 100%;
      }
      @include tablet {
        text-align: right;
        h3 {
          border-right: 0;
          border-bottom: 2px solid $gold;
          height: auto;
          line-height: 48px;
          margin-top: -20px;
        }
        p {
          padding: 10px 0 0;
        }
      }
    }

    img {
      max-width: 1056px;
      width: 80%;
    }

  }

  section#tag {

    h3 {
      color: $txt-gold;
      font-size: 20px;
      line-height: 30px;
      margin: 20px auto;
      text-align: center;
    }

  }

}
