&.contact {

  section#contact {
    @include background-stretch();
    @include flex();
    @include align-items(center);
    background-image: url("/img/bgs/hq-dark.jpg");
    height: 700px;

  }

  .parallax-window {
    display: none;
  }

}
