&.contact {

  section#contact {
    @include background-stretch();
    @include flex();
    @include align-items(center);
    background-image: url("/img/bgs/chile.jpg");
    height: 700px;

    form {
      @include box();
      @include transition(opacity 0.2s);
      color: $bg-gray;
      font-size: 18px;
      letter-spacing: 0.79px;
      line-height: 21px;
      margin: 0 auto;
      max-width: 650px;
      text-align: right;
      width: 100%;

      &.hidden {
        opacity: 0;
      }

      .ss-form-entry {
        @include transition(height 0.2s, opacity 0.2s);
        overflow: hidden;

        &.hidden {
          height: 0 !important;
          opacity: 0;
        }

        .ss-q-title {
          display: block;
          text-align: left;
          width: 100%;
        }

        .ss-q-label {
          color: $bg-gold;
          display: inline-block;

          &.full {
            width: 100%;
          }

        }

        input[type="text"], select, textarea {
          @include appearance(none);
          @include box();
          @include rounded(0);
          @include varela();
          background-color: transparent;
          border: 0;
          border-bottom: 1px solid $bg-gold;
          color: $bg-gold;
          display: inline-block;
          font-size: 18px;
          letter-spacing: 0.79px;
          margin: 20px 0 20px;
          outline: 0;
          padding: 5px 0;
          text-align: right;

        }

        input[type="text"] {
          width: 254px;
        }

        textarea {
          max-height: 100px;
          min-height: 100px;
          overflow: auto;
          padding: 5px;
          resize: none;
          text-align: left;
          width: 100%;
        }

      }

      input[type="submit"] {
        @include transition(opacity 0.2s);
        display: block;
        margin: 10px auto;
        text-align: center;
        text-decoration: none;
        background-color: transparent;
        border: 3px solid $bg-gray;
        width: 50%;
        padding: 25px;
        font-size: 20px;
        color: $bg-gray;
        opacity: 1;
        letter-spacing: 1px;
        cursor: pointer;

        &.hidden {
          opacity: 0;
        }

        &:hover {
          background-color: #c0c0c0;
        }

      }

    }

    #success {
      @include transition(opacity 0.2s);
      display: block;
      font-size: 18px;
      letter-spacing: 0.79px;
      line-height: 21px;
      opacity: 1;

      &.hidden {
        display: none;
        opacity: 0;
      }

    }

  }

  .parallax-window {
    display: none;
  }

}
