footer {
  background-color: $bg-gold;
  
  @media screen and (min-width: 415px) {
    height: 300px;
  }

  .parting-words {
    font-size: 18px;
    color: $txt-gray;
    letter-spacing: 0.79px;
    line-height: 44px;
    text-align: center;
    padding: 42px 0;

    @media screen and (max-width: 414px) {
      font-size: 24px;
      letter-spacing: 1px;
      line-height: 31px;
      padding: 42px 45px;
    }
  }

  section {
    @include flex();
    @include flex-direction(row);
    @include justify(space-between);
    @include align-items(center);
    padding: 0 13% 40px;

    @media screen and (max-width: 414px) {
      @include flex-direction(column-reverse);
    }

    & > * {
      @include flex-size(1 0 auto);
    }
  }

  .mini-contact {
    text-align: left;

    span, a {
      display: block;
      font-size: 14px;
      color: $txt-gray;
      letter-spacing: 0.61px;
      line-height: 22px;
    }

    a {
      text-decoration: none;

      &:hover, &:focus {
        opacity: 0.6;
      }
    }
  }

  .badge {
    background-image: url('/img/home/footer_gem.svg');
    background-repeat: no-repeat;
    background-position: 33% 50%;
    background-size: contain;
    width: 132px;
    height: 132px;
  }

  .social {
    text-align: right;

    @media screen and (max-width: 414px) {
      margin-bottom: 40px;
    }

    a {
      display: inline-block;
    }

    i {
      display: block;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      width: 45px;
      height: 45px;

      &:hover, &:focus {
        opacity: 0.6;
      }
    }

    .github {
      background-image: url('/img/home/github.svg');
      margin-right: 15px;
    }

    .twitter {
      background-image: url('/img/home/twitter.svg');
    }
  }
}