footer {
  background-color: $bg-gold;

  @each $name, $color in $portfolio-colors {
    &.#{$name} {
      background-color: $color;
    }
  }

  // overrides
  &.cny {
    background-color: #1C2736;
  }

  .parting-words {
    font-size: 18px;
    color: $txt-gray;
    letter-spacing: 0.79px;
    line-height: 44px;
    text-align: center;
    padding: 40px 0;

    @media screen and (max-width: 768px) {
      font-size: 24px;
      letter-spacing: 1px;
      line-height: 31px;
      padding: 40px 45px;
    }
  }

  section {
    @include box();
    @include flex();
    @include flex-direction(row);
    @include justify(space-between);
    @include align-items(center);
    margin: 0 auto;
    max-width: $max-width;
    padding: 0 40px 40px;

    & > * {
      @include flex-size(1 0 auto);
    }

    @include mobile {
      @include flex-direction(column-reverse);
    }

  }

  .mini-contact {
    text-align: left;

    span, a {
      display: block;
      font-size: 14px;
      color: $txt-gray;
      letter-spacing: 0.61px;
      line-height: 22px;
    }

    a {
      text-decoration: none;

      &:hover, &:focus {
        opacity: 0.6;
      }
    }

    @include mobile {
      text-align: center;
    }

  }

  .badge {
    background-repeat: no-repeat;
    background-position: 33% 50%;
    background-size: contain;
    width: 132px;
    height: 132px;
  }

  .social {
    text-align: right;

    @include mobile {
      margin-bottom: 40px;
    }

    a {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 15px;
      }

      i {
        display: block;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        width: 45px;
        height: 45px;

        &:hover, &:focus {
          opacity: 0.6;
        }

        &.github {
          background-image: url('/img/social/github.svg');
        }

        &.twitter {
          background-image: url('/img/social/twitter.svg');
        }

      }

    }
  }

  &.dark {
    .parting-words, .mini-contact span, .mini-contact a {
      color: white;
    }

    .social a i {

      &.github {
        background-image: url('/img/social/github-white.svg');
      }

      &.twitter {
        background-image: url('/img/social/twitter-white.svg');
      }

    }

  }

}
