&.hello {

  #projects {
    background-color: $txt-gray;

    h3 {
      font-size: 30px;
      color: white;
      letter-spacing: 1.25px;
      line-height: 36px;
      text-align: center;
      padding: 25px 0;

      @media screen and (max-width: 768px) {
        padding: 50px;
      }
    }

    section {
      @include flex();
      @include flex-direction(row);
      @include justify(center);
      @include align-items(flex-end);
      text-align: center;
      padding: 0;

      .project {
        @include flex-size(1);
        margin: 25px;
        max-width: 250px;

        @media screen and (max-width: 768px) {
          display: none;
        }

        .project-title {
          color: white;
          display: block;
          font-size: 16px;
          height: 30px;
          letter-spacing: 1px;
          padding: 15px 0;
          text-align: center;
          text-decoration: none;
        }

        .project-image {
          img {
            width: 100%;
          }
        }

        .project-desc {
          color: white;
          display: none;
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
          padding: 10px 0;
          text-align: left;
        }

      }

    }
  }

  #contact {
    @include box();
    @include flex();
    @include flex-direction(column);
    @include align-items(center);
    height: 600px;
    padding: 0;
    position: relative;

    h2, p, article {
      @include transition(opacity 0.2s);

      &.hidden {
        display: none;
        opacity: 0;
      }

    }

    // form {
    //   margin-top: 40px;
    // }

  }

}
