.sub-container {
  width: 100%;
  height: 100vh;
  max-height: 600px;
}

.hero-container {
  // background-image: url('/img/home/hero.png');
  // background-repeat: no-repeat;
  // background-position: 50% 0%;
  // background-size: cover;
  width: 100%;
  height: 100vh;
  max-height: 800px;
  overflow: hidden;
  position: relative;

  #hero-video {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;

    .overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(242, 242, 242, 0.8);
      position: absolute;
      z-index: 0;
    }
    
    #video {
      width: 100vw;
      top: 0;
      position: absolute;
      z-index: -1;
      @include filter(saturate(0.5));
    }
  }

  ul {
    display: none;
    margin: 0 auto;
    text-align: center;
    width: 60%;

    li {
      display: inline-block;

      a {
        padding: 3px 10px;
        text-decoration: none;
        font-size: 14px;
        color: $txt-gray;
        letter-spacing: 0.61px;
        text-transform: uppercase;
      }
    }
  }
}

.logotype {
  background-image: url('/img/home/logotype.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 234px;
  height: 36px;
  padding-top: 100px;
  margin: 0 auto;
  color: transparent;
  font-size: 1px;
  position: relative;
  z-index: 2;
}

.logo-container {
  background-image: url('/img/home/logo.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 429px 429px;
  height: 429px;
  text-align: center;
  margin: 70px auto;
  position: relative;
  z-index: 1;

  h2 {
    font-size: 40px;
    color: $txt-gray;
    letter-spacing: 2.38px;
    @include text-shadow(0px 2px 3px rgba(154,154,154,0.50));
    padding: 190px 0;
  }
}

.welcome-msg {
  background-color: $bg-gray;

  section {
    width: 60%;
    max-width: 950px;
    padding: 160px 0;
    margin: 0 auto;
    @include flex();
    @include flex-direction(row);
    @include align-items(center);
  }

  h3 {
    width: 45%;
    max-width: 417px;
    margin-right: 20px;
    text-align: right;
    color: $gold;
    font-size: 40px;
    letter-spacing: 1.68px;
    line-height: 55px;
  }

  p {
    width: 54%;
    max-width: 500px;
    text-align: left;
    font-size: 22px;
    color: $txt-gray;
    line-height: 44px;
  }
}

.offerings {
  background-color: $bg-gold;

  h3 {
    font-size: 30px;
    color: $txt-gray;
    letter-spacing: 1.79px;
    padding: 80px 0 53px;
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
  }

  section {
    @include flex();
    @include flex-direction(row);
    max-width: 960px;
    margin: 0 auto;
  }

  .offering {
    text-align: center;
    width: 21%;
    max-width: 190px;

    & + .offering {
      margin-left: 67px;
    }

    p {
      font-size: 18px;
      color: $txt-gray;
      letter-spacing: 0.64px;
      line-height: 26px;
    }

    &.a .badge {
      background-image: url('/img/home/offering_1.svg');
    }
    &.b .badge {
      background-image: url('/img/home/offering_2.svg');
    }
    &.c .badge {
      background-image: url('/img/home/offering_3.svg');
    }
    &.d .badge {
      background-image: url('/img/home/offering_4.svg');
    }

    .badge {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 50%;
      width: 180px;
      height: 180px;
    }
  }
}

.projects {
  background-color: $bg-gray;
  
  h3 {
    font-size: 30px;
    color: $txt-gray-l;
    letter-spacing: 1.25px;
    line-height: 36px;
    text-align: center;
    padding: 70px 0 50px;
  }

  section {
    text-align: center;
    padding-bottom: 70px;

    .row {
      @include flex();
      @include flex-direction(row);
      @include justify(center);
    }
    
    .datausa {
      background-image: url('/img/home/datausa_bg.png');

      a {
        background-color: rgba(109,155,193,0.70);
      }
    }
    .dataviva {
      background-image: url('/img/home/dataviva_bg.png');

      a {
        background-color: rgba(229,99,100,0.60);
      }
    }
    .d3plus {
      background-image: url('/img/home/d3plus_bg.png');

      a {
        background-color: rgba(71,142,94,0.70);
      }
    }
    .oec {
      background-image: url('/img/home/oec_bg.png');

      a {
        background-color: rgba(77,204,235,0.80);
      }
    }

    .project {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 50%;
      width: 465px;
      height: 310px;
      margin: 0 15px 30px;
      display: inline-block;
      @include flex();
      @include align-items(center);

      a {
        display: block;
        margin: auto;
        text-align: center;
        text-decoration: none;
        border: 3px solid $bg-gray;
        width: 50%;
        padding: 25px;
        font-size: 20px;
        color: $bg-gray;
        letter-spacing: 1px;
      }
    }

  }
}

.parallax {
  width: 100%;
  height: 300px;

  &.a {
    background-image: url('/img/home/desk1.png');
  }
  &.b {
    background-image: url('/img/home/desk2.png');
  }
  &.c {
    background-image: url('/img/home/desk3.png');
    height: 190px !important;
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
}