$nav-timing: 0.4s;

nav {
  @include transition(background-color $nav-timing);
  background-color: $bg-gray;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;

  &.solid {
    background-color: $bg-gray !important;
  }

  $width-offset: 100px;

  .nav-content {
    @include flex();
    @include justify(space-between);
    @include align-items(center);
    @include transition(height $nav-timing);
    margin: 0 auto;
    height: $nav-height-dsk;
    max-width: $max-width + ($width-offset * 2);
    padding: 0 20px;

    @include tablet {
      height: $nav-height-mbl;
    }

    .nav-logo {
      @include transition(height $nav-timing);
      height: 42%;
      padding-right: 40px;
      position: relative;
      text-decoration: none;
      white-space: nowrap;

      .nav-logo-icon {
        @include transition(margin-right $nav-timing);
        display: inline-block;
        height: 100%;
        min-height: 100%;

        @include tablet {
          display: none;
        }

      }

      .nav-logo-type {
        @include transition(transform $nav-timing);
        display: inline-block;
        height: 50%;
        transform: translate(5px, 14px);
        min-height: 50%;
        vertical-align: top;

        @include tablet {
          height: 20px;
          transform: none;
        }

      }

    }

    &.small {
      height: 50px;
      .nav-logo {
        height: 75%;
        .nav-logo-icon {
        }
        .nav-logo-type {
          transform: translate(4px, 10px);
        }
      }
    }

  }

}

nav, .hero-container {

  ul {
    @include flex();
    @include justify(space-between);
    max-width: 520px;
    width: 100%;

    @include tablet {
      display: none;
    }

    .nav-btn {
      color: $txt-gray;
      cursor: pointer;
      font-size: 14px;
      letter-spacing: 0.61px;
      padding: 15px 0;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;

      .sub-menu {
        @include transition(transform $nav-timing, opacity $nav-timing, box-shadow $nav-timing);
        box-shadow: none;
        background-color: $bg-gray;
        display: block;
        height: 0;
        left: -20%;
        overflow: hidden;
        padding-left: 20%;
        padding-right: 20%;
        position: absolute;
        text-align: left;
        top: 38px;
        width: 180%;
        opacity: 0;

        a {
          @include box();
          @include transition(height $nav-timing, margin-top $nav-timing, opacity $nav-timing);
          color: $txt-gray;
          display: block;
          height: 0;
          line-height: 22px;
          margin-top: -8px;
          opacity: 0;
          overflow: hidden;
          padding: 5px 0;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            color: $gold;
          }

        }
      }

      &:hover,
      &:focus,
      &:focus-within {
        color: $gold;

        .sub-menu {
          box-shadow: 0 2px 1em rgba($txt-gray, 0.25);
          height: auto;
          opacity: 1;
          padding-top: 0.5em;
          padding-bottom: 0.5em;

          a {
            height: 32px;
            margin-top: 0;
            opacity: 1;
          }
        }

      }

    }

  }

}

#mobile-nav {
  display: none;
  height: 100vh;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 19;

  & > ul {
    @include transition(top 0.6s);
    background-color: $bg-gray;
    left: 0;
    padding: $nav-height-mbl + 25px 0 0;
    position: absolute;
    text-align: center;
    top: -100vh;
    width: 100%;

    .nav-btn {
      color: $txt-gray;
      display: block;
      font-size: 18px;
      letter-spacing: 0.79px;
      padding: 25px 0;
      text-decoration: none;
      text-transform: uppercase;

      .sub-menu {
        background-color: #D8D8D8;
        display: none;
        margin: 25px 0 -25px;
        padding: 0;
        text-align: center;

        &.active {
          display: block;
        }

        a {
          color: $txt-gray;
          display: block;
          padding: 10px;
          text-decoration: none;
          text-transform: none;
        }
      }

      li.active {
        color: $gold;
      }

    }

  }

  img {
    @include transition(bottom 0.6s);
    bottom: -100vh;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  @include tablet {
    display: block;
    &.active {
      pointer-events: all;
      ul {
        top: 0;
      }
      img {
        bottom: 0;
      }
    }
  }

}

$ham-width: 25px;
$ham-height: 25px;
$ham-stroke: 3px;
$ham-spacing: 5px;
$ham-duration: 0.3s;

#hamburger {
  display: none;
  cursor: pointer;
  height: $ham-height;
  position: relative;
  width: $ham-width;

  @include tablet {
    display: block;
  }

  span {
    @include transition(background 0s $ham-duration);
    display: block;
    position: absolute;
    top: ($ham-height / 2) - ($ham-stroke / 2);
    left: 0;
    right: 0;
    height: $ham-stroke;
    background-color: $bg-gold;
  }

  span::before, span::after {
    @include transition-duration($ham-duration, $ham-duration);
    @include transition-delay($ham-duration, 0s);
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: $ham-stroke;
    background-color: $bg-gold;
    content: "";
  }

  span::before {
    @include transition-property(top, transform);
    top: -$ham-stroke - $ham-spacing;
  }

  span::after {
    @include transition-property(bottom, transform);
    bottom: -$ham-stroke - $ham-spacing;
  }

  &.active {

    span {
      background: none;
    }

    span::before {
      @include transform(rotate(45deg));
      top: 0;
    }

    span::after {
      @include transform(rotate(-45deg));
      bottom: 0;
    }

    span::before, span::after {
      @include transition-delay(0s, $ham-duration);
    }

  }

}
