&.portfolio {

  #intro {
    @include box();
    @include flex();
    @include align-items(center);
    @include background-stretch();
    min-height: 40vh;
    padding: 80px 40px;
    width: 100%;

    @each $name, $color in $portfolio-colors {
      &.#{$name} {
        background-color: $color;
      }
    }

    @include tablet {
      @include flex-direction(column);
      padding: 40px 20px 20px;
    }

    & .logo {
      color: white;
      display: none;
      font-size: 28px;
      line-height: 33px;
      margin: 0;
      text-align: center;

      @include tablet {
        display: block;
      }
    }

    .image {
      width: 300px;

      @include tablet {
        margin: 40px 0;
        width: 75%;
      }
    }

    .text {
      color: white;
      margin-left: 80px;
      max-width: 550px;

      @include tablet {
        margin-left: 0;
        max-width: none;
      }

      h1 {
        font-size: 30px;
        margin-bottom: 40px;

        @include tablet {
          display: none;
        }
      }

      p {
        font-size: 20px;
        line-height: 40px;

        @include tablet {
          font-size: 14px;
          line-height: 24px;
        }
      }

    }

  }

  .light {
    position: relative;
    text-align: center;

    .awards {
      left: 10px;
      position: absolute;
      top: 10px;
      z-index: 15;

      .award {
        display: inline-block;
        vertical-align: top;
        svg {
          width: 150px;
        }
      }

    }

    .page {
      @include flex();
      @include flex-direction(row);
      @include align-items(center);
      margin: 120px auto 160px;
      width: 100%;

      &:nth-of-type(odd) {
        @include flex-direction(row-reverse);
      }

      .screenshot {
        @include flex-size(1 1 600px);
        max-width: 600px;
        position: relative;
        width: 100%;

        &::before {
          @include background-contain();
          background-image: url("/img/portfolio/titlebar.png");
          background-position: center bottom;
          content: "";
          height: 50px;
          left: 0;
          position: absolute;
          top: -49px;
          width: 100%;
        }

        img {
          width: 100%;
        }
      }

      p {
        font-size: 20px;
        line-height: 40px;
        margin: 0 40px;
        min-width: 400px;
        text-align: left;
        width: 400px;

        a {
          @include transition(border-color 0.3s, color 0.3s);
          border-color: transparent;
          border-bottom-width: 2px;
          border-style: solid;
          color: $txt-gray;
          text-decoration: none;

          &:hover {
            border-color: $gold;
            color: $gold;
          }
        }

      }

      &.odd, &.even {
        @include tablet {
          @include flex-direction(column);
          margin: 20px 20px 60px;

          .screenshot {
            max-width: none;
          }

          p {
            font-size: 14px;
            line-height: 24px;
            margin-top: 20px;
            min-width: 0;
            text-align: left;
            width: 100%;
          }

        }

      }

    }

    #external-link {
      color: $txt-gray;
      font-size: 30px;
      margin-left: 20px;
      text-decoration: none;
      transition: opacity 0.2s ease;

      svg {
        margin-left: 0.25em;
        vertical-align: baseline;
        transition: transform 0.2s ease;
      }

      &:hover, &:focus {
        opacity: 0.9;

        & svg {
          transform: translateX(0.25em);
        }
      }

      @each $name, $color in $portfolio-colors {
        &.#{$name}-color {
          color: $color;

          & path {
            fill: $color;
          }
        }
      }

      @include tablet {
        font-size: 18px;
        margin-left: 0;

        svg {
          display: none;
        }

      }

    }

    #portfolio-nav {
      @include flex();
      @include justify(space-between);
      margin: 60px auto 20px;
      max-width: 880px;
      padding: 0 40px;

      @include tablet {
        margin: 40px auto 0;
        padding: 0 20px;
      }

      a {
        color: $txt-gray;
        font-size: 20px;
        text-decoration: none;
        transition: opacity 0.2s ease;

        svg {
          margin-top: -3px;
          width: 18px;
          vertical-align: middle;
          transition: transform 0.2s ease;
        }

        &.prev svg {
          margin-right: 15px;
        }

        &.nxt svg {
          margin-left: 15px;
        }

        &:hover, &:focus {
          opacity: 0.9;

          &.prev svg { transform: translateX(-0.25em); }
          &.nxt svg { transform: translateX(0.25em); }
        }

        @include tablet {
          font-size: 12px;

          svg {
            width: 11px;
          }

          &:first-child svg {
            margin-right: 10px;
          }

          &:last-child svg {
            margin-left: 10px;
          }

        }

      }

    }

  }

}
