&.random {

  #random {
    text-align: center;
  }

  ol {
    list-style: decimal;
    margin: 0 auto;
    text-align: left;
    width: 200px;
    li {
      font-size: 16px;
      margin: 10px 0;
    }
  }

  #button {
    @include transition(opacity 0.2s);
    display: block;
    margin: 50px auto 0;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: 3px solid $bg-gray;
    width: 250px;
    padding: 15px;
    font-size: 20px;
    color: $bg-gray;
    opacity: 1;
    letter-spacing: 1px;
    cursor: pointer;

    &.hidden {
      display: none;
      opacity: 0;
    }

    &:hover {
      background-color: #c0c0c0;
    }
  }

}
