$team: ("alex", "cesar", "dave", "jonathan", "matt", "melissa", "gena", "eli", "lucy", "manuel", "sabrina", "walther", "chloe", "alice", "jimmy", "pacha", "gaby", "pablo", "natalia", "james", "nick", "daniel", "rashmi", "valerie", "carlos", "cata", "seba", "fransisco", "andrea");
$services: ("github", "twitter", "behance");

&.team {

  #team-list {
    @include flex();
    @include flex-wrap();
    margin: 40px auto;
    max-width: 990px;
    text-align: center;

    &.alumnus {
      max-width: 700px;
    }

    @include mobile {
      display: block;
      margin: 0 auto;
    }

    .person {
      background-color: none;
      display: inline-block;
      padding: 15px;

      @include mobile {
        display: block;
        padding: 0;
      }

      &.alumni {
        display: inline-block;
        padding: 15px;
      }

      .photo {
        @include background-stretch();
        cursor: pointer;
        height: 450px;
        position: relative;
        width: 300px;

        @include mobile {
          height: 375px;
          width: 100%;
        }

        &.alumni {
          height: 180px;
          width: 120px;
        }

        .bio {
          @include flex-direction(column);
          @include justify(center);
          @include box();
          color: $txt-gray;
          cursor: pointer;
          display: none;
          font-size: 16px;
          height: 100%;
          left: 0;
          line-height: 27px;
          padding: 10px;
          position: absolute;
          top: 0;
          width: 100%;

          p {
            margin-bottom: 25px;
          }

          @include mobile {
            font-size: 14px;
            line-height: 23px;
            padding: 40px;
            text-align: left;
          }


        }

      }

      @each $person in $team {
        &##{$person} .photo {
          background-image: url("/img/team/#{$person}-static.jpg");
          &:hover {
            background-image: url("/img/team/#{$person}-hover.jpg");
          }
        }
        &##{$person}.active .photo {
          background-image: url("/img/team/#{$person}-gradient.jpg");
        }
      }

      .title {
        @include box();
        color: $gold;
        padding: 20px 0 0 0;
        text-align: left;

        @include mobile {
          padding: 20px 40px;
        }

        h3 {
          font-size: 22px;
          font-weight: 400;
        }

        sub {
          display: block;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          margin-top: 5px;
        }

        &.alumni {
          padding: 20px 0 0 0;
          width: 120px;

          h3 {
            font-size: 16px;
          }
          sub {
            font-size: 12px;
          }
        }

        a {
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: 100%;
          float: right;
          height: 20px;
          margin-right: 10px;
          width: 20px;

          @each $service in $services {
            &.#{$service} {
              background-image: url("/img/social/#{$service}-gold.svg");
            }
          }

          &:hover {
            cursor: pointer;
          }

        }

      }

      &.active {
        background-color: $bg-gold;

        .photo .bio {
          @include flex();
        }

        .title {
          color: $txt-gray;

          @each $service in $services {
            a.#{$service} {
              background-image: url("/img/social/#{$service}.svg");
            }
          }

        }

      }

    }

  }

}
