<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Custom web solutions for big data."/>
    <meta name="keywords" content="Visualization, Visualizations, Big Data, Database, Design, Web, Website, Platform"/>
    <meta name="author" content="Datawheel, LLC"/>

    <!-- Facebook Properties -->
    <meta property="og:image" content="http://www.datawheel.us/img/datawheel-icon-orange-ko-256.jpg" />
    <link rel="apple-touch-icon" sizes="256x256" href="/img/datawheel-icon-orange-ko-256.jpg">

    <link rel="icon" type="image/png" href="/img/favicon.ico">

    <title>Datawheel{% if page.title %} | {{ page.title }}{% endif %}</title>

    <script src="/js/jquery-2.2.2.min.js"></script>
    <script src="/js/parallax.min.js"></script>
    <script src="/js/backgroundVideo.min.js"></script>

    <script>
      var preloadImages = [];
    </script>

    <link rel="stylesheet" href="/style.css">
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5MFW6N4');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Hotjar Tracking Code for www.datawheel.us -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:350546,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
  </head>
  <body{% if page.style %} class="{{ page.style }}"{% endif %}>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MFW6N4" 
              height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="mobile-nav">
      {% include nav.html %}
      <img src="/img/bgs/balls.jpg" />
    </div>

    <nav>

      <div class="nav-content">
        <a href="/" class="nav-logo" data-ga-cat="nav" data-ga-label="logo">
          <img class="nav-logo-icon" src="/img/logo/icon.svg" />
          <img class="nav-logo-type" src="/img/logo/type.svg" />
        </a>
        {% include nav.html %}
        <div id="hamburger" data-ga-cat="nav" data-ga-label="hamburger">
          <span></span>
        </div>

      </div>

    </nav>


    {{ content }}

    <article class="parallax-window" data-parallax="scroll" data-image-src="/img/bgs/hq-{% if page.footer %}{{ page.footer }}{% else if page.style == "home" %}home{% else %}gold{% endif %}.jpg" data-bleed="100" data-speed="0.5"></article>

    <footer{% if page.footer %} class="{{ page.footer }} dark"{% endif %}>
      <p class="parting-words">
        "With great data, comes great responsibility."
      </p>
      <section>
        <div class="mini-contact">
          <span><a href="mailto:info@datawheel.us" target="_blank" data-ga-cat="footer" data-ga-label="e-mail">info@datawheel.us</a></span>
          <span><a href="https://goo.gl/maps/7cv2ScytYYE2" target="_blank" data-ga-cat="footer" data-ga-label="address">1299 Cambridge Street<br />Cambridge, MA 02139</a></span>
          <span>c 2016 Datawheel, LLC</span>
          <span>All rights reserved.</span>
        </div>
        <div class="badge dsk" style="background-image: url('/img/{% if page.badge %}portfolio/{{ page.badge }}/badge{% else %}icons/gem{% endif %}.svg');"></div>
        <div class="social">
          <a href="http://www.github.com/datawheel" target="_blank" data-ga-cat="footer" data-ga-label="github">
            <i class="github"></i>
          </a>
          <a href="http://www.twitter.com/datawheel" target="_blank" data-ga-cat="footer" data-ga-label="twitter">
            <i class="twitter"></i>
          </a>
        </div>
      </section>
    </footer>

    <script>

      $("#mobile-nav div.nav-btn").click(function(){
        $(this).find(".sub-menu").toggleClass("active");
        $(this).find(".sub-title").toggleClass("active");
      });

      $("#hamburger").click(function(){
        $("#hamburger").toggleClass("active");
        $("#mobile-nav").toggleClass("active");
        $("body").toggleClass("frozen");
      });

      preloadImages.forEach(function(url){
        var img = new Image();
        img.src = url;
      });

      var anims = $(".scroll-animation"),
          nav = $("nav").find(".nav-content"),
          maxH = nav.height(),
          minH = 50,
          lastScroll = 0,
          logo = nav.find(".nav-logo"),
          icon = nav.find(".nav-logo-icon"),
          text = nav.find(".nav-logo-type"),
          textPad = parseFloat(text.css("margin-top"), 10),
          w = $(window);

      w.on("scroll resize", function(e){

        var wH = w.height(),
            y = w.scrollTop();

        // desktop nav sizing
        if (window.innerWidth > 768) {
          if (lastScroll > y) nav.removeClass("small");
          else if (y > maxH - minH) nav.addClass("small");
        }

        // nav coloring
        if (maxH - y <= minH) $("nav").addClass("solid");
        else $("nav").removeClass("solid");
        lastScroll = y;

        if (anims.length) {
          anims.each(function() {
            var elem = $(this);
            var top = elem.offset().top;
            var bottom = (top + elem.outerHeight());

            //check to see if this current container is within viewport
            if ((bottom >= y) && (top <= y + wH)) elem.addClass("visible");
            // else elem.removeClass("visible");
          });
        }

      });
      if (w.scrollTop() === 0) w.trigger("scroll");

      //^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
      // Google Analytics
      //------------------------------------------------------------------------
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48256843-1', 'datawheel.us');
      ga('send', 'pageview');

      $("[data-ga-cat]").on("click.ga", function() {

        var _this = $(this);
        var action = _this.attr("data-ga-action") || "click";
        var category = _this.attr("data-ga-cat") || "general";
        var label = _this.attr("data-ga-label") || "n/a";

        // console.log("GA, action: ", action, "category: ", category, "label: ", label)

        ga("send", {
          hitType: "event",
          eventCategory: category,
          eventAction: action,
          eventLabel: label
        });

      })

    </script>

  </body>

</html>
