---
layout: default
---

{% assign projects = site.portfolio | sort: "order"  %}
{% assign len = projects | size %}

<section id="intro" style="background-image: url('/img/portfolio/{{ page.footer }}/header.jpg');">
  <h1>{{ page.title }}</h1>
  <img class="image" src="/img/portfolio/{{ page.footer }}/logo.png" />
  <div class="text">
    <h1>{{ page.title }}</h1>
    <p>{{ page.desc }}</p>
  </div>
</section>

<section class="light">
  {% if page.awards %}
  <div class="awards">
    {% for award in page.awards %}
    <a class="award" href="{{ award.link }}" target="_blank">
      <img src="/img/portfolio/{{ page.footer }}/{{ award.image }}" />
    </a>
    {% endfor %}
    </div>
  {% endif %}
  {% for p in page.body %}
  <article class="page {% cycle 'odd', 'even' %}">
    <div class="screenshot">
      <img src="/img/portfolio/{{ page.footer }}/p{{ forloop.index }}.gif" />
    </div>
    <p>{{ p }}</p>
  </article>
  {% endfor %}
  <a id="external-link" class="{{ page.footer }}-color" href="{{ page.link }}" target="_blank" data-ga-cat="portfolio" data-ga-label="{{ page.footer }}">Visit {% if page.shortname %}{{ page.shortname }}{% else %}{{ page.title }}{% endif %}<img src="/img/ui/arrow-right.svg" /></a>

  {% for project in projects  %}
    {% if project.title == page.title %}
      {% if forloop.first %}
        {% assign previndex = len | minus: 1 %}
        {% assign prevurl = projects[previndex].url %}
        {% assign nexturl = projects[forloop.index].url %}
      {% elsif forloop.last %}
        {% assign previndex = forloop.index | minus: 2 %}
        {% assign prevurl = projects[previndex].url %}
        {% assign nexturl = projects[0].url %}
      {% else %}
        {% assign previndex = forloop.index | minus: 2 %}
        {% assign prevurl = projects[previndex].url %}
        {% assign nexturl = projects[forloop.index].url %}
      {% endif %}
    {% endif %}
  {% endfor %}

  <div id="portfolio-nav">
    <a href="{{prevurl}}" class="prev" data-ga-cat="portfolio" data-ga-label="prev"><img src="/img/ui/angle-left.svg" /> Previous Project</a>
    <a href="{{nexturl}}" class="nxt" data-ga-cat="portfolio" data-ga-label="next">Next Project <img src="/img/ui/angle-right.svg" /></a>
  </div>

</section>
