---
layout: default
---

{% assign projects = site.portfolio | sort: "order" | where:"visible",true %}
{% assign len = projects | size %}

<section id="intro" class="{{ page.color }} intro" style="background-image: url('/img/portfolio/{{ page.slug }}/header.jpg');">
  <img class="image" src="/img/portfolio/{{ page.slug }}/logo.{% if page.logoFormat %}{{ page.logoFormat }}{% else %}png{% endif %}" />
  <div class="text">
    <h1 class="{% if page.titleHidden %}u-visually-hidden{% endif %}">{{ page.title }}</h1>
    <p>{{ page.desc }}</p>
  </div>
  {% if page.awards %}
  <div class="awards{% if page.awardsPosition %} {{ page.awardsPosition }}{% endif %}">
    {% for award in page.awards %}
    <a class="award" href="{{ award.link }}" target="_blank">
      <img src="/img/portfolio/{{ page.slug }}/{{ award.image }}" />
    </a>
    {% endfor %}
    </div>
  {% endif %}
</section>

<section class="light">
  {% for p in page.body %}
  <article class="page {% cycle 'odd', 'even' %}">
    <div class="screenshot">
      <img src="/img/portfolio/{{ page.slug }}/p{{ forloop.index }}.gif" />
    </div>
    <p>{{ p }}</p>
  </article>
  {% endfor %}
  <a id="external-link" class="{{ page.color }}-color" href="{{ page.link }}" target="_blank" data-ga-cat="portfolio" data-ga-label="{{ page.slug }}">Visit {% if page.shortname %}{{ page.shortname }}{% else %}{{ page.title }}{% endif %}{% include arrow-right.svg.html %}</a>

  {% for project in projects  %}
    {% if project.title == page.title %}
      {% if forloop.first %}
        {% assign previndex = len | minus: 1 %}
        {% assign prevurl = projects[previndex].url %}
        {% assign nexturl = projects[forloop.index].url %}
      {% elsif forloop.last %}
        {% assign previndex = forloop.index | minus: 2 %}
        {% assign prevurl = projects[previndex].url %}
        {% assign nexturl = projects[0].url %}
      {% else %}
        {% assign previndex = forloop.index | minus: 2 %}
        {% assign prevurl = projects[previndex].url %}
        {% assign nexturl = projects[forloop.index].url %}
      {% endif %}
    {% endif %}
  {% endfor %}

  <div id="portfolio-nav">
    <a href="{{prevurl}}" class="prev" data-ga-cat="portfolio" data-ga-label="prev">{% include angle-left.svg.html %} Previous Project</a>
    <a href="{{nexturl}}" class="nxt" data-ga-cat="portfolio" data-ga-label="next">Next Project {% include angle-right.svg.html %}</a>
  </div>

</section>
